version: '3.8'

services:
  webdb:
    image: ghcr.io/arkiv-network/usecases-webdb:latest
    container_name: webdb
    environment:
      - PORT=3000
      - HOSTNAME=0.0.0.0
      - DOMAIN=webdb.usecases.arkiv.network
      - ARKIV_CHAIN_ID=60138453025
      - ARKIV_RPC_URL=https://kaolin.hoodi.arkiv.network/rpc
      - ARKIV_WS_URL=wss://kaolin.hoodi.arkiv.network/rpc/ws
      - DBCHAIN_RPC_URL=https://kaolin.hoodi.arkiv.network/rpc
      - CORS_ORIGINS=*
      - NODE_ENV=production
    env_file:
      - .env
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - webdb-storage:/tmp/webdb-storage
    restart: unless-stopped
    networks:
      - moon_golem_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.webdb.rule=Host(`webdb.usecases.arkiv.network`) || HostRegexp(`^[a-zA-Z0-9-_]+\\.webdb.usecases.arkiv.network$$`)"
      - "traefik.http.routers.webdb.entrypoints=websecure"
      - "traefik.http.routers.webdb.tls=true"
      - "traefik.http.routers.webdb.tls.certresolver=letsencrypt"
      - "traefik.http.services.webdb.loadbalancer.server.port=3000"

volumes:
  webdb-storage:
    driver: local

networks:
  moon_golem_network:
    external: true